{% extends "base.html" %}

{% block content %}
<div id="content">
	<div class="inner min_height">
        {% include "users/user_sidebar.html" %}
        <div class="content">
            <ul>
                {% for followed in user.following.all() %}
                    {% if user != followed %}
                    <li>
                        <img src="  {% if followed.profile.picture_id != None %}
                                    {{ url_for('media', id = followed.profile.picture_id ) }}
                                    {% endif %}" />
                        <div>
                            {{ followed.profile.name }}
                            <br>
                            {{ followed.username }}
                        </div>
                        <div>               
                            {% if g.user.is_authenticated() %}
                                <span class="content_buttons">
                                {% if Follow.is_following_by_follower_and_followed(g.user.id, followed.id) %}
                                    <a href="{{url_for('follows_followed_unfollow', followed_id = followed.id)}}">
                                        Unfollow
                                    </a>
                                 {% else %}
                                    <a href="{{url_for('follows_followed_follow', followed_id = followed.id)}}">
                                        Follow
                                    </a>
                                {% endif %}
                                </span>
                            {% endif %}
                        </div>
                        <hr>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
	</div>
</div>
{% endblock %}