{% extends "base.html" %}

{% block content %}
<div id="content">
    <div class="inner min_height">
        {% include "users/user_sidebar.html" %}
        <div class="content">
            <h1>Thanks Given</h1>
            {% for thank in thanks %}
                {% if thank.is_public() or g.user in thank.receiver_users.all() or g.user == thank.giver %}
                    {% include "users/includes/thank.html" %}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}