{% extends "base.html" %}

{% block content %}
<div id="content">
	<div class="inner min_height">
		{% include "users/user_sidebar.html" %}
		<div class="content">
			<header>
				<span class="content_title">{{user.profile.name}}</span>
				{% if g.user.is_authenticated() %}
				<span class="content_buttons">
					{% if user != g.user %} 
						{% if user in g.user.following.all() %}
							<a href="{{url_for('follows_followed_unfollow', followed_id = user.id)}}">Unfollow</a>
						{% else %}
							<a href="{{url_for('follows_followed_follow', followed_id = user.id)}}">Follow</a>
						{% endif %}
					{% endif %}
				</span>
				{% endif %}
			</header>
			{% if user.profile.bio != None %}
				<p>{{user.profile.bio}}</p>
			{% endif %}
			{% if user.profile.is_facebook_visible %}
				<p>Facebook: {{user.profile.facebook_username}}</p>
			{% endif %}
			{% if user.profile.is_twitter_visible %}
				<p>Twitter: {{user.profile.twitter_username}}</p>
			{% endif %}
			{% if user.profile.website != None %}
				<p>{{user.profile.website}}</p>
			{% endif %}
			<p>Following: {{user.total_following()}}</p>
			<p>Followers: {{user.total_followers()}}</p>

			<hr>
			{% if thanks == [] %}
				No thanks here.
			{% else %}
				<ul>
	            {% for thank in thanks %}
	                {% if thank.is_public() or g.user in thank.receiver_users.all() or g.user == thank.giver %}
	                    {% include "includes/list_thank.html" %}
	                {% endif %}
	            {% endfor %}
	        	</ul>
            {% endif %}
		</div>
	</div>
</div>
{% endblock %}