{% extends "base.html" %}

{% block content %}
<div id="content">
	<div class="inner min_height">
		{% include "user/account_sidebar.html" %}
		<div class="content">
			<h1>Change Password</h1>
			<form action="" method="post" name="account_settings">
			    {{form.hidden_tag()}}
			    <p>
			    	Current Password:<br>
			    	{% for error in form.errors.current_password %}
					<span style="color: red;">[{{error}}]</span><br>
					{% endfor %}
			        {{form.current_password()}}<br>
			    </p>
			    <p>
			    	New Password:<br>
			    	{% for error in form.errors.new_password %}
					<span style="color: red;">[{{error}}]</span><br>
					{% endfor %}
			        {{form.new_password()}}<br>
			    </p>
			    <p>
			    	New Password Again:<br>
			    	{% for error in form.errors.new_password_again %}
					<span style="color: red;">[{{error}}]</span><br>
					{% endfor %}
			        {{form.new_password_again()}}<br>
			    </p>
			    <p><input type="submit" value="Change Password"></p>
			</form>
		</div>
	</div>
</div>
{% endblock %}
