{% extends "base.html" %}

{% block content %}
<div id="content">
	<div class="inner min_height">
		{% include "user/account_sidebar.html" %}
		<div class="content">
			<h1>Account Settings</h1>
			<form action="" method="post" name="account_settings">
			    {{form.hidden_tag()}}
			    <p>
			    	Username:<br>
			    	{% for error in form.errors.username %}
					<span style="color: red;">[{{error}}]</span><br>
					{% endfor %}
			        {{form.username()}}<br>
			    </p>
			    <p><input type="submit" value="Save"></p>
			</form>
		</div>
	</div>
</div>
{% endblock %}
