{% extends "base.html" %}

{% block content %}
<div id="content">
	<div class="inner min_height">
		{% include "user/settings_sidebar.html" %}
		<div class="content">
			<h1>Manage Emails</h1>
			<form action="" method="post" name="add_email">
			    {{form.hidden_tag()}}
			    <p>
			    	Email:<br>
			    	{% for error in form.errors.email %}
						<span style="color: red;">[{{error}}]</span><br>
					{% endfor %}
			        {{form.email()}}<br>
			    </p>
			    <p><input type="submit" value="Add Email"></p>
			</form>
			{% for email in g.user.emails.all() %}
				<p>
					{{email.email}} |
					{% if not email.is_verified() %}
						<a href="{{url_for('settings_emails_request_key_email', email = email.email)}}">
							Verify
						</a> |
					{% endif %}
					{% if email.is_primary %}
						(Primary Email) 
					{% else %} 
						<a href="{{url_for('settings_emails_make_primary_email', email = email.email)}}">
							Make Primary
						</a> | 
						<a href="{{url_for('settings_emails_delete_email', email = email.email)}}">
							Delete
						</a>
					{% endif %}
				</p>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}