<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if title %}{{title}}{% endif %} | ThanksPress |</title>
    <meta name="description" content="Another Flask-Boilerplate Website">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">

            {% block preheader %}
            {% endblock %}

            <header id="header" class="container">
            {% block header %}
                <div class="inner">
                    <a href="{{url_for('news_feed')}}" class="logo">ThanksPress</a>
                    <ul class="buttons">
                        {% if g.user.is_authenticated() %}
                            {% if g.user.is_new() %}
                            {% else %}
                                <li class="text">
                                    <a href="{{url_for('user_timeline',username = g.user.username)}}">Profile</a>
                                </li>
                                <li class="text">
                                    <a href="{{url_for('settings_account')}}">
                                        Settings
                                    </a>
                                </li>
                            {% endif %}
                            <li class="text">
                                <a href="{{url_for('sign_out')}}">
                                    Sign Out
                                </a>
                            </li>
                        {% else %}
                            <li class="text">
                                <a href="{{url_for('sign_up')}}">Sign Up</a>
                            </li>
                            <li class="text">
                                <a href="{{url_for('sign_in')}}">Sign In</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endblock %}
            </header>
            
            {% block messages %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div id="messages" class="container">
                            <div class="inner">
                                <ul>
                                    {% for message in messages %}
                                        <li>{{message}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
            {% endblock %}

            {% block precontent %}
            {% endblock %}

            {% block content %}
                <div id="content" class="container">
                    <div class="inner min_height">
                        content
                    </div>
                </div>
            {% endblock %}
                
            {% block prefooter %}
            {% endblock %}

            {% block page_footer %}
                <footer id="footer" class="container">
                    <div class="inner">
                        Dogukan Tufekci Production 2013
                    </div>
                </footer>
            {% endblock %}
                
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>
